/* ===== Responsive ===== */
@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}


@media (max-width: 768px) {
  html {
    font-size: 14px; 
  }

  .section-group {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .section {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .task-list-container {
    margin-top: 0px;
  }

  .top-section .section > * {
    flex: 1; 
  }

  .labels-select button {
    width: 100%;
    text-wrap: nowrap;
  }

  .task-actions {
    flex-direction: column-reverse;
    align-items: flex-end !important;
  }

  .task-edit-buttons {
    margin-right: 5px;
  }


#completed-counter {

  margin-top: -0.2rem;
  margin-left: -0.2rem;

} 
}



@media (max-width: 580px) {
  html {
    font-size: 13px; 
  }

  form.section {
    align-items: stretch;      
  }

}




