.settings-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: min(300px, 100dvw);
  height: 100vh;
  background-color: var(--color-settings-bg);
  border-left: 1px solid var(--color-settings-title);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.settings-title {
  margin: 0 0 10px 0;
  font-size: 18px;
  text-align: center;
  color: var(--color-settings-title);
}

.projects-list {
  overflow-y: auto;
  flex: 1;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  background-color: var(--color-settings-item);
  color: var(--color-settings-text);
}

.project-item:hover {
  background-color: var(--color-settings-item-hover);
}

.project-item.active {
  background-color: var(--color-settings-item-active);
  color: white;
  font-weight: bold;
}


.add-project-button {
  margin-bottom: 15px;
  width: 80%;
}


/* ===== toggle button ===== */
.settings-toggle {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1100;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  display: none; 

  width: clamp(32px, 6dvw, 40px);
  height: clamp(32px, 6dvw, 40px);
  background: url("/src/assets/bars-solid-full.svg") center / contain no-repeat;

  transition: transform 0.3s ease, background-color 0.2s ease;

}

.settings-toggle:hover {
  background: url("/src/assets/bars-solid-full-white.svg") center / contain no-repeat;
}

.settings-toggle.active {
  transform: rotate(90deg);
}


/* ===== Responsive ===== */
@media (max-width: 1400px) {
  .app-container {
    margin-right: 300px; 
  }
}


@media (max-width: 1100px) {
  .settings-toggle {
    display: block;
  }

  .settings-panel {
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1050;
  }

  .settings-panel.open {
    transform: translateX(0);
  }

  .app-container {
    margin-right: auto; 
  } 
}




