.app-container {
  max-width: 800px;
  margin: 0 auto;
  background: var(--color-container);
  padding: clamp(0.5rem, 1.5vw, 1.25rem);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);

  display: flex;
  flex-direction: column;

  height: 100dvh;
  overflow: hidden;

}

#title-row {
  display: flex;
  align-items: center;
  position: relative; 
}

#title {
  margin: -5px auto 10px auto;
  color: var(--color-settings-title);
}

#completed-counter {
  position: absolute;
  left: 0;
  top: 0;
  font-style: italic;
}

/* ===== Top section ===== */
.top-section {
  flex: 0 0 auto;
}

.section-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.section, .form-container {
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 1dvw, 0.8rem);

  flex-wrap: wrap;
}

.form-container input {
  flex: 1;
  min-width: 120px;
}




