.app-container {
  max-width: 800px;
  margin: 0 auto;
  background: var(--color-container);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  height: 96vh;
}

#title-row {
  display: flex;
  align-items: center;
  position: relative; 
}

#title {
  margin: -5px auto 10px auto;
  color: var(--color-settings-title);
}

#completed-counter {
  position: absolute;
  right: 0;
  top: 0;
  font-style: italic;
}

/* ===== Top section ===== */
.top-section {
  flex: 0 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.section {
  display: flex;
  align-items: center;
  gap: 10px;
}


.add-task-selection {
  padding: 5px;
}





/* ===== Task ===== */
.task-list-container {
  flex: 1 1 auto;
  margin-top: 10px;
  overflow-y: auto;
  padding: 6px;
  border: 1px solid var(--color-panel-border);
  background-color: rgb(20, 20, 20)
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: var(--color-task-bg);

  box-shadow: var(--shadow-task-light);
  transition:
    box-shadow 0.18s ease,
    transform 0.12s ease,
    border-color 0.15s ease;
}

.task-item:hover, .task-item.active {
  box-shadow: var(--shadow-task-hover);
}


.task-title {
  font-weight: bold;
}

.task-title.finished {
  text-decoration: line-through;
  opacity: 0.6;
  color: var(--color-muted);
}

.edit-panel {
  display: flex;
  align-items: center;
  gap: 10px;
}




#filter-labels-button {
  background-color: var(--color-container);
  color: var(--color-text);
  border: 1.5px solid var(--color-panel-border);
  padding: 7px;
  margin-left: 10px;
}


/* Scrollbar */
.task-list-container::-webkit-scrollbar {
  width: 8px;
}

.task-list-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.task-list-container::-webkit-scrollbar-track {
  background: var(--color-bg);
}

/* In task */
.task-actions {
  display: flex;
  gap: 5px;
}