
# Custom Notes
Notes/
Js_Notes/
cheatsheets/
New_notes/
New_React_notes/
prep_for_interview/

# Next.js & Environment
.env
.next/
.next

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.vite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# AI Agents
AGENTS.md

