/* ===== Responsive ===== */
@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}


@media (max-width: 668px) {
  html {
    font-size: 14px; 
  }

  /* ===== Top-section ===== */
  .top-section .section > :not(:is(input, .add-task-selection, .task-button)) {
    flex: 1; 
  }

  .form-container input {
    flex: 2 1 0;
  }

  .add-task-selection {
    flex: 1 1 0;
  }

  .task-button.done {
    flex: 2 1 0;
  }


  .section-group {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .section {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #completed-counter {
    margin-top: -0.2rem;
    margin-left: -0.2rem;
  } 


  /* ===== Task ===== */
  .task-list-container {
    margin-top: 0px;
  }

  .labels-select button {
    width: 100%;
    text-wrap: nowrap;
  }
}



@media (max-width: 450px) {
  html {
    font-size: 13px; 
  }


  /* ===== Task ===== */
  .edit-panel {
    flex-direction: column;
    align-items: stretch;   
  }

  .edit-top-row {
    width: 100%;
    flex-wrap: wrap;
  }

  .edit-bottom-row {
    width: 100%;
  }

  .edit-top-row > * {
    flex: 1 1 0;
  }

  .edit-bottom-row .task-button {
    flex: 1 1 0;
  }
}


