/* ===== Top section ===== */
.top-section :is(button, input, select, .select-wrapper) {
  height: var(--top-section-elems-height) !important;
}

.top-section {
  flex: 0 0 auto;
}

.section-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.section,
.form-container {
  display: flex;
  gap: clamp(0.5rem, 1dvw, 0.8rem);

  flex-wrap: wrap;

}




/* ===== Delete labels ===== */
.button-delete.active-delete {
  background-color: #c0392b;
  color: white;
  border-color: #e74c3c;
  box-shadow: 0 0 6px rgba(200, 50, 50, 0.5);

  font-style: italic
}

.button-delete.active-delete:hover {
  background-color: #e74c3c;
  box-shadow: 0 0 8px rgba(200, 50, 50, 0.7);
}